.loginFooter {
    width: 100vw;
    margin-left: -2px
}

.LoginBg {
    width: 110vw;
    height: 110vh;
}

.BgcWrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BgcLayer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.bodyWrpper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBody {
    width: 40vw;
    height: 50vh;
    background-color: rgba(180, 180, 180, 0.9);
}

.FormBgWrapper {
    position: absolute;
    width: 50vw;
    height: 50vh;
    bottom: 0;
    overflow: hidden;
}

.FormLayer {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.FormBg {
    position: absolute;
    left: -30vw;
    height: 100%;
    z-index: 1;
}